<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 id="title_room">web socket</h1>
    <button onclick="connect()">connect</button>
    <input value=""/>
    <button onclick="send()">send</button>
    <button onclick="Routine()">routine</button>
    <button onclick="ModifyRoutine()">routine-modify</button>
    <button onclick="next()">ex</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    const input = document.querySelector("input");

    function connect() {
        //StompConfig.java에 설정된 endpoint로 SockJS 객체, StompClient 객체 생성
        var url = "/live";
        var socket = new SockJS(url);
        //do Handshake
        //stompClient = Stomp.client(url);
        stompClient = Stomp.over(socket);

        // connect(header,연결 성공시 콜백,에러발생시 콜백)
        stompClient.connect({}, function () {
                //subscribe(subscribe url,해당 url로 메시지를 받을때마다 실행할 함수)

                stompClient.subscribe('/room/routine/'+input.value, function (e) {
                    console.log(e);
                });
                stompClient.subscribe('/room/leave/'+input.value,function (e) {
                    console.log(e);
                });
                stompClient.subscribe('/room/ready/'+input.value,function (e) {
                    console.log(e);
                });
                stompClient.subscribe('/room/participate/'+input.value,function (e) {
                    console.log(e);
                });
                stompClient.subscribe('/room/ex/'+input.value,function (e) {
                    console.log(e);
                });
            },
            function(e){
                //에러 콜백
                alert('에러발생!!!!!!');
            }
        );
    }

    //메시지 브로커로 메시지 전송
    function send(){

        leave = {
            "nick": "운동만 하는 사람"
        };
        ready = {
            "time": 5
        };
        participate={
            "parti": 100000
        };

        // send(destination,헤더,페이로드)
        stompClient.send("/app/leave/"+input.value, {}, JSON.stringify(leave));
        stompClient.send("/app/ready/"+input.value, {}, JSON.stringify(ready));
        stompClient.send("/app/participate/"+input.value, {}, JSON.stringify(participate));
        //console.log(input.value);
    }

    function Routine(){
        start = {
            "routId": 1
        };
        stompClient.send("/app/start/"+input.value, {}, JSON.stringify(start));
    }

    function ModifyRoutine(){
        routine= {
            "routId":
                1,
            "name":
                "복부 운동 할 수 있어요!",
            "hits":
                0,
            "routineDetails":
                [
                    {
                        "id": 1,
                        "ex":
                            {
                                "id": 13,
                                "name": "넌 멍청이~~",
                                "desc": "1. 엎드려 뻗친 자세를 취한다\n2. 양 발을 가슴까지 번갈아서 뻗었다 내렸다 한다."
                            },
                        "type": 1,
                        "set": 2,
                        "time": 50,
                        "count": null,
                        "rest": 10,
                        "order": 1,
                        "cate": [
                            {"name": "유산소"},
                            {"name": "복부"}
                        ]
                    },
                    {
                        "id": 2,
                        "ex":
                            {
                                "id": 10,
                                "name": "레그 레이즈",
                                "desc": "1.벤치에 누워 벤치 윗부분을 두 손으로 잡는다.\n2.다리를 들어올린 후 무릎을 살짝 구부린다.골반을 가슴 쪽으로 말아 올린다.\n3.저항을 느끼며 다시 원위치한다.\n"
                            },
                        "type": 1,
                        "set": 3,
                        "time": 25,
                        "count": null,
                        "rest": 10,
                        "order": 2,
                        "cate": [
                            {"name": "복부"}
                        ]
                    }
                ]
        };
        stompClient.send("/app/routine/"+input.value, {}, JSON.stringify(routine));
    }

    function next(){
        nextAct={
            "readyEnd": 1
        }
        stompClient.send("/app/ex/"+input.value, {}, JSON.stringify(nextAct));
    }

</script>
</body>
</html>